// http://ionicframework.com/docs/theming/


// App Global Sass
.label-input{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.input-text{
    font-size: 15px;
}

.login-content{
    margin-top: 25vh;
}

